<template>
  <v-footer dark>
    <v-container primary>
      <v-layout>
        <v-flex
          v-for="(lien, index) in liens"
          :key="index"
          router
          :to="lien.url"
        >
          <a :href="lien.url" target="_blank">
            <v-btn>
              <v-icon>{{ lien.icone }}</v-icon>
            </v-btn>
          </a>
          <div>{{ lien.texte }}</div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  data() {
    return {
      liens: [
        {
          icone: "fab fa-linkedin",
          texte: "Linkedin",
          url: "https://www.linkedin.com/in/hicham-benza%C3%AFm-devetsig/",
        },
        {
          icone: "fab fa-gitlab",
          texte: "Gitlab",
          url: "https://gitlab.com/devetsig",
        },
        {
          icone: "fas fa-globe-europe",
          texte: "VeilleCarto",
          url: "https://veillecarto2-0.fr/author/hbel94/",
        },
      ],
    };
  },
};
</script>

<style>
</style>