<template>
  <nav>
    <v-toolbar dark>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-container primary>
        <v-layout column>
          <v-toolbar-title>DEV&SIG</v-toolbar-title>
        </v-layout>
      </v-container>
    </v-toolbar>

    <v-navigation-drawer app v-model="drawer">
      <v-container error>
        <v-layout column>
          <v-flex>
            <v-avatar color="blue" size="88">
              <span>HB</span>
            </v-avatar>
          </v-flex>
        </v-layout>
      </v-container>

        <v-layout secondary>
          <v-flex>
            <v-list>
              <v-list-item v-for="(lien, index) in liens" :key="index" router :to="lien.route">
                <v-list-item-action>
                  <v-icon>{{lien.icone}}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-content-title>{{lien.titre}}</v-list-content-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-flex>
        </v-layout>

        <v-container accent>
          <v-layout column>
            <v-flex>
              <v-carousel>
                <v-carousel-item v-for="(slide, index) in slides" :key="index">
                  <v-sheet>
                    <v-row>
                      <h2>{{slide.nom}}</h2>
                      <p>{{slide.texte}}</p>
                      <v-icon>{{slide.icone}}</v-icon>
                    </v-row>
                  </v-sheet>
                </v-carousel-item>
              </v-carousel>
            </v-flex>
          </v-layout>
        </v-container>
    </v-navigation-drawer>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      liens: [
        { icone: "fas fa-home", titre: "Accueil", route: "/" },
        { icone: "fas fa-cloud-sun", titre: "Appli Météo", route: "/meteo" },
        {
          icone: "fas fa-bacterium",
          titre: " Appli COVID-19",
          route: "/covid",
        },
        {
          icone: "fas fa-map-marked-alt",
          titre: "Contributions",
          route: "/contrib",
        },
      ],
      slides: [
        {
          icone: "fab fa-vuejs",
          nom: "Vue JS",
          couleur: "green darken-4",
          texte: "Framework Javascript",
        },
        {
          icone: "fas fa-store",
          nom: "Vuex",
          couleur: "light-blue",
          texte: "Gestionnaire d'états",
        },
        {
          icone: "fas fa-leaf",
          nom: "Vue2leaflet",
          couleur: "light-green",
          texte: "Librairie Leaflet pour Vue",
        },
        {
          icone: "far fa-chart-bar",
          nom: "VueChartkick",
          couleur: "red",
          texte: "Librairie de graphiques",
        },
      ],
    };
  },
};
</script>

<style>
</style>