<template>
  <v-app>

    <headerApp></headerApp>

    <v-main>
      <router-view/>
    </v-main>

    <footerApp></footerApp>

  </v-app>
</template>

<script>
import footerApp from './components/commons/Footer';
import headerApp from './components/commons/Header';

export default {
  components: {
    footerApp,
    headerApp,
  }
  
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
